:root {
    --link_image_size: 24px;
    --custom-black: black;
    --custom-background-color: red;
}

body {
    background-color: var(--custom-black);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center top;
}

img.logo {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1000px) {
    .logo {
        margin-left: 50%;
    }
    div.links {
        margin-right: 15%;
    }
}

a.logo {
    background-color: transparent;
    position: fixed;
}
a.logo:hover {
    background-color: transparent;
}

div.links {
    position: fixed;

    margin-left: 45%;
    margin-right: 35%;
    bottom: 20px;

    background-color: transparent;

    border-radius: 50%;
}

img.linkedin {
    width: var(--link_image_size);
    height: var(--link_image_size);

    background-color: white;

    padding: 10px 40px 10px 10px;
    border-radius: 15px 0 0 15px;
}

img.github {
    width: var(--link_image_size);
    height: var(--link_image_size);

    background-color: black;

    padding: 10px 10px 10px 40px;
    border-radius: 0 15px 15px 0;

    margin-left: -0.7%;
}

@keyframes contentAnimation {
    from {
        margin-right: 50%;
        margin-left: 50%;
    }
    to {
        margin-right: 25%;
        margin-left: 25%;
    }
}

div.content {
    background: var(--custom-black);

    border: 1px solid var(--custom-background-color);

    margin-right: 25%;
    margin-left: 25%;
    
    animation-duration: 1s;
    animation-name: contentAnimation;

    text-align: center;

    margin-top: 1%;
    padding-inline: 1%;
}

button {
    transition-duration: 1s;
    color: white;
    background-color: seagreen;
    
    border-radius: 5px;

    border-width: 1px;
    border-color: sandybrown;

    box-shadow: 2px 2px 1px seagreen;

    width: 150px;
    height: 50px;
}

md-block h1 {
    color: lightblue;
}

md-block h2 {
    color: lightblue;
}

md-block h3 {
    color: lightblue;
}

md-block ul {
    font-family: fantasy;
    color: lightblue;
}

md-block table {
    font-family: fantasy;
    color: lightblue;
}

md-block p {
    font-family: fantasy;
    color: lightblue;
}

button:hover {
    transition-duration: 1s;
    rotate: 1deg;
    border-color: seagreen;
}

button:focus {
    transition-duration: 0.1s;
    box-shadow: inner 2px 2px 1px seagreen;
}

a {
    color: red;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    transition: 1s;
    background-color: darkred;
    color: white;
}
