:root {
    --link_image_size: 15%;
    --main_button_size: 25%;
    --custom-black: rgb(27, 28, 32);
    --custom-red: rgb(83, 25, 43);
    --link-color: rgb(159, 48, 82);
    --text-color: rgb(134, 168, 179);
}

body {
    background-color: var(--custom-black);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center top;
}

img.logo {
    border-radius: 10px;
    width: var(--main_button_size);
    height: var(--main_button_size);
}

@media only screen and (max-width: 1000px) {
    .logo {
        margin-left: 65%;
        margin-bottom: 50%;
        margin-top: 50%;
    }
    div.links {
        margin-right: 15%;
    }
}

a.logo {
    background-color: transparent;
    position: fixed;
}
a.logo:hover {
    background-color: transparent;
}

div.links {
    position: fixed;

    margin-left: 45%;
    margin-right: 35%;
    bottom: 20px;

    background-color: transparent;

    border-radius: 50%;
}

img.linkedin {
    width: var(--link_image_size);
    height: var(--link_image_size);

    background-color: white;

    padding: 10px 40px 10px 10px;
    border-radius: 15px 0 0 15px;
}

img.github {
    width: var(--link_image_size);
    height: var(--link_image_size);

    background-color: black;

    padding: 10px 10px 10px 40px;
    border-radius: 0 15px 15px 0;

    margin-left: -0.7%;
}

@keyframes contentAnimation {
    from {
        margin-right: 50%;
        margin-left: 50%;
    }
    to {
        margin-right: 25%;
        margin-left: 25%;
    }
}

div.content {
    border-radius: 15px;

    background: var(--custom-black);

    border: 5px solid var(--custom-red);

    margin-right: 15%;
    margin-left: 15%;
    
    animation-duration: 1s;
    animation-name: contentAnimation;

    text-align: center;

    margin-top: 1%;
    padding-inline: 1%;
}

button {
    transition-duration: 1s;
    color: white;
    background-color: var(--custom-red);
    
    border-radius: 5px;

    border-width: 1px;
    border-color: var(--link-color);

    box-shadow: 2px 2px 1px var(--link-color);

    width: 150px;
    height: 50px;
}

button:focus {
    transition-duration: 0.1s;
    box-shadow: 2px 2px 1px var(--link-color);
}

button:hover {
    transition-duration: 1s;
    rotate: 1deg;
    border-color: var(--link-color);
}

md-block h1 {
    color: var(--text-color);
}

md-block h2 {
    color: var(--text-color);
}

md-block h3 {
    color: var(--text-color);
}

md-block ul {
    font-family: fantasy;
    color: var(--text-color);
    text-align: left;
}

md-block li {
    font-family: fantasy;
    color: var(--text-color);
    margin-left: 35%;
}

md-block table {
    font-family: fantasy;
    color: var(--text-color);
    text-align: left;
    margin: 0 auto;
}

md-block p {
    font-family: fantasy;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: 1s;
}

a:hover {
    transition: 1s;
    background-color: var(--link-color);
    color: grey;
}

img.experimental {
    width: 5%;
    height: 5%;
    margin-top: 1%;
    margin-left: 95%;
}
