@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
    font-family: "Geist";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

:root {
    --font-family: "Roboto";
    --background-color: #282828;
    --font-color: #ffffff;
}

body {
    font-family: var(--font-family), sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

p {
    font-family: var(--font-family), sans-serif;
    font-size: 18px;
    color: var(--font-color);
}

h1 {
    font-family: var(--font-family), sans-serif;
    color: var(--font-color);
}

h2 {
    font-family: var(--font-family), sans-serif;
    color: var(--font-color);
}

h3 {
    font-family: var(--font-family), sans-serif;
    color: var(--font-color);
}

/* Title Effect */

svg {
    display: flex;
    font: 10vw var(--font-family);
    width: 100%;
    height: 100%;
    fill: none;
}

.text-copy {
    stroke: white;
    stroke-dasharray: 10% 29%;
    stroke-width: 0.3vw;
    stroke-dashoffset: 0;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4d163d;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #bd0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #bd0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #fdb731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    0% {
        stroke-dashoffset: -35%;
    }
    50% {
        stroke-dashoffset: 0%;
    }
    100% {
        stroke-dashoffset: -35%;
    }
}

.container {
    display: flex;
    height: 120vh;
    width: 100%;
    align-items: center;
    padding-bottom: 75vh;
}

.title-separator {
    padding-bottom: 25vh;
}

div.section {
    background-color: rgb(67, 67, 67);

    border: 1vw #840037;

    border-radius: 5px;

    margin-right: 10vw;
    margin-left: 10vw;

    padding: 1vw;
}

/* Points Background */
* {
    box-sizing: border-box;
}

:root {
    --size: 20px;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0 0% 6%);
    z-index: -1;
}

.el {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: radial-gradient(
        rgba(241, 31, 31, 0.445) 2px,
        transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
}

/* Sections */

div.section-list {
    flex: content;
    flex-direction: column;
}

div.section-left {
    margin-left: 0;
    margin-right: 10vw;
    background-color: black;
    margin-bottom: 10vh;
}

div.section-right {
    margin-left: 10vw;
    margin-right: 0;
    background-color: black;
    margin-bottom: 10vh;
}

div.section {
    background-color: black;
    margin-bottom: 10vh;
}

/* Card grid */

div.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: space-evenly;

    margin-left: 0;
    margin-right: 0;
    gap: 1rem;
}

@media (orientation: portrait) {
    div.card-container {
        flex-direction: column;
    }
}

div.card {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 25vw));
    gap: 1rem;
    margin: 1rem;
    position: relative;
    padding: 5vw;

    max-width: 50vw;
    max-height: 50vh;

    flex: auto;
}

div.card img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    transition-duration: 0.3s;
}

div.card:hover img {
    filter: brightness(0.5);
    transition-duration: 0.3s;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 0, 0, 0.418);
}

a:hover {
    border-bottom-color: rgb(255, 0, 0);
}

div.overview {
    position: fixed;

    top: 5vw;
    left: 10vw;
    height: 80vh;
    width: 80vw;

    background-color: rgba(0, 0, 0, 0.242);
    z-index: 10; /* Upon everything */
    backdrop-filter: blur(10px);

    padding-left: 3vw;
    padding-right: 5vw;

    border-radius: 15px;

    display: none;

    overflow: scroll;

    animation-duration: 1s;
}

button.hide-overview {
    position: fixed;
    top: 2vh;
    left: 50vw;
    z-index: 20;

    background-color: rgba(255, 0, 0, 0.314);
    border: none;

    width: 5vh;
    height: 5vh;

    background-image: url("./assets/white_xmark.svg");
    background-size: cover;
    background-position: center;

    transition: 0.3s;

    display: none;
}

button.hide-overview:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}

button.hide-overview:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

@media (orientation: portrait) {
    button.hide-overview {
        top: 2vh;
        left: 2vw;
    }
}

button.anchor {
    border-radius: 100%;
    border: none;

    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/dot-arrow-down.svg");
    background-size: 5vw;

    width: 5vw;
    height: 5vw;
}

/* Footer */

footer {
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.452);

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1vw solid rgba(255, 0, 0, 0.154);

    padding: 1vw;

    margin-top: 10vh;
}

/* Curriculum Vitae */

details {
    background-color: #5e1818;
    background-image: radial-gradient(rgb(133, 23, 23) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    border-radius: 5px;
}

/* Links */

div.links {
    display: flex;
    align-items: row;
    justify-content: left;
}

img.link {
    width: 4vw;
    height: 4vw;
}

a.overview-link {
    width: 5vw;
    height: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Loading icon */

.lds-ripple {
    /* change color here */
    color: #fc0505;
    z-index: 10;
}
.lds-ripple,
.lds-ripple div {
    box-sizing: border-box;

    position: fixed;

    top: 5%;
    left: 5%;
}
.lds-ripple {
    display: inline-block;
    width: 300px;
    height: 300px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
