@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --font-family-: "Roboto";
}

body {
    font-family: var(--font-family-), sans-serif;
    color: #000000;
}

p {
    font-family: var(--font-family-), sans-serif;
    font-size: 18px;
}

h1 {
    font-family: var(--font-family-), sans-serif;
}

h2 {
    font-family: var(--font-family-), sans-serif;
}

h3 {
    font-family: var(--font-family-), sans-serif;
}

div.navbar {
    background-color: rgba(128, 128, 128, 0.24);

    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

button.content-selector {
    font-family: var(--font-family-), sans-serif;
    color: #000000;
    background-color: #cdcdcd;
    margin-top: 1vh;
    border-color: #b97df4;
    width: 12vw;
    height: 5vh;
    font-size: 18px;
}

button.content-selector:hover {
    background-color: #debcff;
    transition: ease-in 0.5s;
}

button.content-selector:active {
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}

iframe.content-view {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: column;

    border: none;

    width: 85vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 15vw;
}

div.content-section {
    border: rgba(188, 153, 225, 0.66) solid 5px;
    padding: 1vw;
    margin-top: 5vh;

    font-family: var(--font-family-), sans-serif;

    background-color: rgba(209, 209, 209, 0.25);
}

canvas.content {
    position: fixed;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-color: #ffffff;
}

li.ul {
    font-family: var(--font-family-), sans-serif;
    font-size: 18px;
}

table.tr {
    font-family: var(--font-family-), sans-serif;
    font-size: 18px;
}