h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
