:root {
    --main-color: #2b2b2b;
}

/* Allow headers to be printed selectable using Firefox */

@media print {
    @page {
        size: 210mm 297mm;
    }

    h1,
    h2,
    h3 {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        color: inherit;
        font-weight: inherit;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    button {
        display: none;
    }
}

h1,
h2,
h3 {
    margin: 0; /* removes the default top/bottom margin */
    padding: 0; /* just in case something else adds padding */
}

body {
    position: fixed;
    width: 210mm;
    height: 297mm;

    background-color: var(--main-color);
}

div.page_header {
    background: #000;
}

h1,
h2,
h3 {
    transform: none;
    filter: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

a.default {
    border-bottom: none;
    margin: none;
    padding: none;
}

/* PAGE HEADER */

div.page_header {
    background-image: linear-gradient(to bottom, black, 80%, var(--main-color));

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 210mm;

    justify-content: space-evenly;

    position: fixed;

    width: 210mm;
    height: 50mm;

    top: 0px;
    left: 0px;

    padding-left: 3mm;
    padding-right: 3mm;
    padding-top: 0;
}

div.page_header ul {
    gap: 2mm;
}

div.title {
    align-self: left;
    margin-left: 0mm;
}

div.contact {
    align-self: center;
    background-color: none;

    height: 40mm;

    padding-top: 5mm;
}

ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;

    flex-wrap: wrap;

    padding-left: 3mm;

    margin-bottom: 0;
    padding-bottom: 0mm;
}

li {
    text-justify: distribute;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    margin: 0mm;
    padding: 0mm;
}

img.self {
    top: 3mm;

    border-radius: 5mm;
    width: 34mm;
    height: auto;

    margin-right: 3mm;
    display: inline-block;
}

div.aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* SKILLS */

div.skills {
    position: fixed;

    top: 50mm;
    left: 0px;
    height: 240mm; /* Full A4 page height, without the title bar */
    width: 65mm;

    padding-left: 3mm;

    background-color: var(--main-color);

    text-align: left;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

div.skills h1,
h2,
h3,
ul {
    padding: 0;
    margin: 0;
}

div.skill {
    margin: 0;
    padding: 0;

    width: 70mm;
    height: auto;
}

div.skills li {
    margin-top: 1mm;
}

div.skills p {
    font-size: 14pt;
    padding: 0;
    margin: 0;
}

img.icon {
    width: 6mm;
    height: auto;
    margin: 0;
    padding: 0;
    margin-right: 2mm;
    margin-top: 1mm;
    display: inline-block;
}

/* EXPERIENCE */

div.experience {
    position: fixed;

    left: 70mm;
    top: 75mm;

    width: 140mm;
    height: 225mm;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;

    padding-right: 1mm;
}

section {
    background-color: var(--main-color);

    padding: 0;
    margin: 0;

    width: 100%;

    border-width: 0.5mm;
    border-style: solid;
}

section p {
    font-size: 12pt;

    margin: 0;
    padding: 1mm;
}

section h2 {
    font-size: 14pt;

    margin: 0;
    padding: 1mm;
}

section.education {
    border-color: #339966;
}

section.project {
    border-color: #008080;
}

section.internship {
    border-color: #003366;
}

/* SUMMARY */

div.summary {
    position: fixed;

    top: 50mm;
    height: 15mm;
    left: 65mm;
    width: 145mm;

    background-color: var(--main-color);

    font-size: 12pt;

    padding: 3mm;
    padding-left: 5mm;
}

div.summary p {
    font-size: 13.9pt;

    margin-top: 0;
    margin-left: 0;
}

/* MISC */

span.important {
    color: #fc5f62;
    font-size: 13pt;
}

span.line {
    display: block;
    width: 90%;
    height: 2px;
    background: #555;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

div.language_selection {
    position: fixed;

    left: 80%;
    width: 20%;
    height: 10%;
}
